html {
  background-image: url(../images/depositphotos_22417105-stock-photo-rustic-barn-wood-background.jpg);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 15px 5px;
    grid-template-areas:
      '. hero-image hero-image hero-image .'
      '. info-01 info-02 info-03 .'
      '. info-04 info-04 info-04 .'
      '. directions directions directions .'
      '. step-01 step-02 step-03 .'
      '. step-04 step-05 step-06 .'
      '. step-end step-end step-end .'
      '. n-info n-info n-info .';
  }
  .grid-container-middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:  
    'i-list-01 i-list-02 i-list-03';
    justify-content: center;
  }
  .grid-container-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
    'n-s-01 n-s-02 n-s-03';
  }
  .nutritional-info .grid-container-bottom ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px;
  }

  .hero-image { 
      grid-area: hero-image;
      background-color: aqua;
      height: 300px;
      display: grid;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url(../images/lemon-magic-cake-1-1-768x960.jpg);

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 20px 20px 0px 0px;
      
  }
  .hero-image h1 {
    font-family: 'Lobster', cursive;
    font-size: 72px;
    color: white;
  }
  
  .i-list-01 {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      color: white;
      font-weight: bold;
  }
  .i-list-02 {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      color: white;
      font-weight: bold;
  }
  .i-list-03 {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      color: white;
      font-weight: bold;
      padding-right: 10px;
  }

  .info-01 { 
      grid-area: info-01; 
      background-color: coral;
      height: 200px;
      text-align: center;
      color: white;
      background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
  }
  .info-01 p {
      font-size: 40px;
      padding: 10px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
  }
  .info-01 h2 {
    font-family: 'Lobster', cursive;;
  }

  .info-02 { 
      grid-area: info-02; 
      background-color: coral;
      height: 200px;
      text-align: center;
      color: white;
      background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
  }
  .info-02 p {
    font-size: 40px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  } 
  .info-02 h2 {
    font-family: 'Lobster', cursive;
  }

  .info-03 { 
      grid-area: info-03; 
      background-color: coral;
      height: 200px;
      text-align: center;
      color: white;
      background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
  }
  .info-03 p {
    font-size: 40px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .info-03 h2 {
    font-family: 'Lobster', cursive;
  }

  .info-04 { 
      grid-area: info-04; 
      background-color: rgb(250, 250, 250);
      height: 200px;
      background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
      border-radius: 0px 0px 20px 20px;
  }
  .info-04 h2 {
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
  }
  .info-04 .grid-container-middle ul {
    text-decoration: none;
  }

  /* STEPS START */

  .directions {
      grid-area: directions;
      display: grid;
      height: 300px;
      background-color: cyan;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url(../images/lemon-magic-cake-1-3-768x960.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px 20px 0px 0px;
  }
  .directions h2 {
      font-family: 'Lobster', cursive;
      font-size: 50px;
      color: white;
  }

.step-01 {
      grid-area: step-01;
      height: 400px;
      text-align: center;
      background-color: darkgrey;
      background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
  }
  .step-01 h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      font-weight: bolder;
      color: white;
  }
  .step-01 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
}

.step-02 {
    grid-area: step-02;
    height: 400px;
    text-align: center;
    background-color: darkgrey;
    background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
  }
  .step-02 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: white;
  }
  .step-02 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
}

.step-03 {
    grid-area: step-03;
    height: 400px;
    text-align: center;
    background-color: darkgrey;
    background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
  }
  .step-03 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: white;
  }
  .step-03 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
}

.step-04 {
    grid-area: step-04;
    height: 500px;
    text-align: center;
    background-color: darkgrey;
    background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
  }
  .step-04 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: white;
  }
  .step-04 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
}

.step-05 {
    grid-area: step-05;
    height: 500px;
    text-align: center;
    background-color: darkgrey;
    background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
  }
  .step-05 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: white;
  }
  .step-05 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
}

.step-06 {
    grid-area: step-06;
    height: 500px;
    text-align: center;
    background-color: darkgrey;
    background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
  }
  .step-06 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: white;
  }  
  .step-06 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
}

.step-end {
      grid-area: step-end;
      text-align: center;
      height: 250px;
      background-color: cyan;
      background: linear-gradient(
                   rgba(20,20,20, .5), 
                   rgba(20,20,20, .5)),
        url(../images/lemon-magic-cake-1-6-1-768x960.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0px 0px 20px 20px;
  }
  .step-end h2 {
      font-family: 'Lobster', cursive;
      font-size: 50px;
      color: white;
  }
  .step-end p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
}

/* Nutrional Info */
.nutritional-info {
  grid-area: n-info;
  height: 425px;
  background-color: cyan;
  background-image: url(../images/baking-a-new-recipe-background-EH8M3A.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.32);
}
.nutritional-info h2 {
      font-family: 'Lobster', cursive;
      font-size: 50px;
      color: white;
}
.nutritional-info li {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  padding: 10px;
}
/* N-Info Grid Setup */
.info-stats-01 {
  grid-area: n-s-01;
}
.info-stats-02 {
  grid-area: n-s-02;
}
.info-stats-03 {
  grid-area: n-s-03;
}

/* Footer */
.footer {
  background-color: rgb(78, 78, 78);
  display: grid;
  height: 50px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

@media (min-width: 360px) {

  .grid-container {
    grid-template-columns: 1fr;
  }
  .info-04 {
    height: fit-content;
  }
  .nutritional-info {
    height: fit-content;
  }
  .step-01 p {
    height: 550px;
    font-size: 14px;
  }
  
  .step-02 p {
    height: 550px;
    font-size: 14px;
  }
  
  .step-03 p {
    height: 550px;
    font-size: 14px;
  }
  
  .step-04 p {
    height: 550px;
    font-size: 14px;
  } 
  
  .step-05 p  {
    height: 550px;
    font-size: 14px;
  }
  
  .step-06 p {
    height: 550px;
    font-size: 14px;
  }

  .info-01 p {
    font-size: 32px ;
  }
  .info-02 p {
    font-size: 32px;
  }
  .info-03 p {
    font-size: 32px;
  }

}
@media (min-width: 763px) {
  .step-01 p {
    height: 500px;
    font-size: 18px;
  }
  
  .step-02 p {
    height: 500px;
    font-size: 18px;
  }
  
  .step-03 p {
    height: 500px;
    font-size: 18px;
  }
  
  .step-04 p {
    height: 500px;
    font-size: 18px;
  } 
  
  .step-05 p  {
    height: 500px;
    font-size: 18px;
  }
  
  .step-06 p {
    height: 500px;
    font-size: 18px;
  }

  .info-01 p {
    font-size: 40px ;
  }
  .info-02 p {
    font-size: 40px;
  }
  .info-03 p {
    font-size: 40px;
  }
}
